@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
    --color-primary: #2e6f9a;
    --color-primary-complementary: #8bb8d9;
    --color-secondary: #ffffff;
    --color-addition: #fffacd;
    --color-addition-complementary: #ffb300;
    --color-complementary: rgba(255,255,0,1);
}

.dark {
    --color-primary: #00061a;
    --color-primary-complementary: #002b4d;
    --color-secondary: #483d8b;
    --color-addition: #483d8b;
    --color-addition-complementary: #00061a;
    --color-complementary: rgba(255,255,255,1);
}

@keyframes rotate {
    0% {
        transform: translateX(0) rotate(0deg) translateY(0);
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    25% {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }
    100% {
        transform: translateX(1300px) rotate(-360deg) translateY(360px);
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 100%;
    }
}
@keyframes smallscreenrotate {
    0% {
        transform: translateX(0) rotate(0deg) translateY(0);
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    25% {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }
    100% {
        transform: translateX(250px) rotate(-360deg) translateY(360px);
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 100%;
    }
}

@keyframes sunshine {
    0%{
        box-shadow: 0px 0px 0px rgba(255,170,0,0.1);
    }
    50% {
        box-shadow: 0px 0px 100px 5px rgba(255,170,0,1);
        /* opacity: 0.5; */
    }
}
.animate-rotate:nth-child(1) {
    animation: rotate 3s linear infinite;
}
.animate-rotate:nth-child(2) {
    top: 200px;
    animation: rotate 4s linear infinite;
}
.animate-rotate:nth-child(3) {
    top: 100px;
    animation: rotate 5s linear infinite;
}
.animate-rotate:nth-child(4) {
    top: 50px;
    animation: rotate 2s linear infinite;
}
.animate-rotate:nth-child(5) {
    top: 150px;
    animation: rotate 4s linear infinite;
}


.animate-smallscreenrotate:nth-child(1) {
    animation: rotate 3s linear infinite;
}
.animate-smallscreenrotate:nth-child(2) {
    top: 200px;
    animation: rotate 4s linear infinite;
}
.animate-smallscreenrotate:nth-child(3) {
    top: 100px;
    animation: rotate 5s linear infinite;
}
.animate-smallscreenrotate:nth-child(4) {
    top: 50px;
    animation: rotate 2s linear infinite;
}
.animate-smallscreenrotate:nth-child(5) {
    top: 150px;
    animation: rotate 4s linear infinite;
}

.animate-sunshine {
    animation: sunshine 4s linear infinite;
}
