@import "tailwindcss";

@theme {
    --color-bright-blue: #3c83f6;
    --color-light-blue: #6ca6fe;
    --color-soft-blue: #a3c5ff;
    --color-very-light-blue: #d1e5ff;
    --color-almost-white-blue: #f0f8ff;
}
